<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>{% block title %}{{ content.site.brand }}{% endblock %}</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}" />
</head>
<body class="{% block body_class %}{% endblock %}">
  
  <div class="nav">
    <div class="container inner">
      <a class="brand" href="{{url_for('home_view')}}">{{ content.site.brand }}</a>
      <div class="menu">
        <a href="{{url_for('project_view')}}" >Projects</a>
        <a href="{{url_for('about_view')}}" >Get to know me</a>
        <a href="{{url_for('contact_view')}}">Contact</a>
        <a href="{{url_for('resume_view')}}">Resume</a>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}

  <div class="footer">
    <div class="container">
      <div class="footerLine"></div>
      <div class="footerInner">
        <a href="{{ content.social.linkedin }}" target="_blank" aria-label="LinkedIn">in</a>
        <a href="{{ content.social.behance }}" target="_blank" aria-label="Behance">Bē</a>
        <a href="mailto:{{ content.social.email }}">{{ content.social.email }}</a>
      </div>
    </div>
  </div>
  
</body>
</html>