{% extends "base.html" %}

{% block title %}Wonu{% endblock %}

{# Leave body_class empty for light mode, or add a class if needed #}
{% block body_class %}{% endblock %}

{% block content %}
  
<main class="page">
  <div class="container centerBox">
    <div>
      <h1>You’re always welcome to say hi! 😊</h1>
      <p>
        If you’d like to work with me, discuss a project or just say hi, you can drop me an email —
        <a class="gold" href="mailto:nabenapreye@gmail.com">nabenapreye@gmail.com</a>
      </p>
    </div>
  </div>
</main>

{% endblock %}
